<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		body {width:1000px;margin: 0 auto}
		table {margin:0 auto;}
		td {width:100px;text-align:center;}
	</style>
</head>
<body>
<table border="1px" cellspacing="0" cellpadding="0"> 
	<tr>
		<td>id</td>
		<td>name</td>
		<td>email</td>
		<td>password</td>
		<td>image</td>
		<td>createtime</td>
		<td>updatetime</td>
		<td>handle</td>
	</tr>

	<?php foreach($data as $key=>$value) { ?>
	<tr>
		<td><?php echo $value['id']; ?></td>
		<td><?php echo $value['name']; ?></td>
		<td><?php echo $value['email']; ?></td>
		<td><?php echo $value['password']; ?></td>
		<td><img src="<?php echo $value['image']; ?>" width="100" height="50" alt="no pic"></td>
		<td><?php echo $value['createtime']; ?></td>
		<td><?php echo $value['updatetime']; ?></td>
		<td>
			<?php if ($value['status'] == 0) { ?>
			<a href="index.php?c=user&a=online&id=<?php echo $value['id'] ?>">上线</a>
		<?php } else { ?>
			<a href="index.php?c=user&a=offline&id=<?php echo $value['id'] ?>">下线</a>
		<?php } ?>
			<a href="index.php?c=user&a=edit&id=<?php echo $value['id'] ?>">edit</a>
		</td>
	</tr>
	<?php } ?>
</table>
</body>
</html>